body{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;

   
}

.navbar .nav-item .nav-link{
   
    color:rgb(137, 203, 225) ;
}
/* .menu h1{
  
} */
.menu{
    min-height: 100vh;
    color: rgb(48, 48, 48);
}
.menu img{
    width: 100%;
}
/* .menu {
  
} */
 .project {
    background-color: rgb(30, 30, 30);
  
    min-height: 110vh;
 }
.project .card{
    margin: 50px;
   background-color: rgb(30, 30, 30) ;
   
   border: solid 1px grey;
}
.project .btn{
    margin-bottom: 50px;
}
.project h1{
    color: rgb(137, 203, 225);
    text-align: center;
}
.contact form{
    width: 350px;
}
@media (max-width:576px){
    html{
         font-size: 60%;
    }
    .menu img{
        display: none;
    }
    .menu{
        text-align: center;
        min-height: 10px;
    }
    .project{
        padding-bottom: 50px;
        min-height: 10px;
    }
    }